.info {
    margin: 0;
    width: 100%;
    text-align: center;
}

.info .inner {
    background-color: #598ccf;
    color: white;
    width: 100%;
    height: inherit;
    border-radius: 5px;
    clip-path: circle(8% at 50% 10%);
    transition-property: clip-path;
    transition-duration: 0.9s;
    transition-timing-function: ease-in-out;
}

.info .inner span {
    font-weight: bold;
    font-size: 3vh;
    opacity: 1;
    transition: opacity 0.9s ease-in-out;
}

.info .inner h1 {
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
}

.info .inner p {
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
}

.info .inner:hover {
    clip-path: circle(75%);
}

.info .inner:active {
    clip-path: circle(75%);
}
.info .inner:focus {
    clip-path: circle(75%);
}

.info .inner:hover > span {
    opacity: 0;
}

.info .inner:hover > p {
    opacity: 1;
}

.info .inner:hover > h1 {
    opacity: 1;
}

.info img:hover + .info span {
    opacity: 0;
}

.info img:hover + .info p {
    opacity: 1;
}

.info img:hover + .info h1 {
    opacity: 1;
}
