.gallery-container {
    display: flex;
    flex-direction: column;
}

section.gallery {
    width: 80vw;
    height: auto;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 1200px) {
    section.gallery {
        display: flex;
        flex-direction: column;
    }
}
section.image-and-info {
    width: 33%;
    margin: 0.25em;
}

section.gallery img {
    width: 100%;

    opacity: 0.4;
}

section.gallery img:hover,
img:active {
    opacity: 1;
}

img:hover + .info .inner {
    clip-path: circle(75%);
}
img:focus + .info .inner {
    clip-path: circle(75%);
}
img:active + .info .inner {
    clip-path: circle(75%);
}
