header {
    background-color: #967b62;
    margin: auto;
    border-radius: 10px;

    width: 80vw;
    font-family: Garamond, "Times New Roman", Times, serif, serif;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
}
header h1 {
    /*font-style: italic;*/
    color: white;
    font-size: 3em;
}
